body{
  background: #ddb8b8;
}

img {
  position: absolute;
}

.game-container{
  background: rgb(224, 224, 206);
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 3px 3px rgb(100, 100, 90);
  position: relative;
  align-items: center;
}

.game{
display:flex;
justify-content: space-between;
}

h1{
  font-size: 18px;
  color:rgb(224, 66, 66);
  text-align: right;
  padding:5px;
  margin: 0px;
  font-weight: 20px;
  padding: 20px;
}
h2{
font-size: 40px;
}

.intro{
  font-size: 18px;
  text-align: center;
  padding:5px;
  margin: 0px;
  font-weight: 20px;
  padding: 20px;
  display: contents;  
  /* default is display:contents */
}

.container{
  display:none; 
} 
#container1{
  display:none; 
}

.btn{
  padding: 10px;
  font-weight: 20px;
  background: rgb(163, 163, 158);
  color:black;
  border: 5px;
  border-color: brown;
  border-radius: 10px;
  margin: 15px;
  text-align: left;
  cursor: pointer;
  transition: .3s;
}
.btn:hover{
  background: white;
}

#finalscore {
display:none;
}

#start-btn{
  padding: 10px;
  font-size: 40px;
  background: rgb(163, 163, 158);
  color:black;
  border: 10px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
#start-btn:hover{
  background: white;
}